h1 {
  text-align: center;
  color: white;
}

.page-container {
  width: 80%;
  min-width: 400px;
  margin: 20px auto;

  background: rgba(60, 60, 60, 0.6);
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  color: white;
}
