.flex-split {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.html-preview,
.css-preview {
  white-space: pre-wrap;
  padding: 5px;
  border-radius: 5px;
  background: #f7f7f7;
  padding: 10px 5px 5px 5px;
  min-width: 25%;
  height: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.html-file,
.css-file {
  display: inline;
  background: white;
  padding: 2px 5px 3px 5px;
  border-radius: 5px;
  font-weight: 700;
  color: #888888;
  margin-left: 5px;
}

.html-text,
.css-text {
  margin: 10px 5px;
  padding: 5px 5px;
  border-radius: 5px;
  background: white;
  font-family: "Courier New", monospace;
  font-size: 16px;
}

.html-render {
  white-space: pre-wrap;
  padding: 5px;
  border-radius: 5px;
  background: #f7f7f7;
  padding: 10px 5px 5px 5px;
  min-width: 25%;
  height: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.html-body {
  margin: 10px 5px;
  padding: 5px 5px;
  border-radius: 5px;
  background: white;
}

.flex-preview-container {
  min-width: 40%;
}

.html-preview-aligncontent,
.css-preview-aligncontent {
  white-space: pre-wrap;
  padding: 5px;
  border-radius: 5px;
  background: #f7f7f7;
  padding: 10px 5px 5px 5px;

  height: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.html-preview-aligncontent {
  margin-bottom: 15px;
}

.html-render-aligncontent {
  white-space: pre-wrap;
  padding: 5px;
  border-radius: 5px;
  background: #f7f7f7;
  padding: 10px 5px 5px 5px;
  min-width: 50%;
  height: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
