.table {
  border: solid 2px #afafaf;
  border-collapse: collapse;
  text-align: left;
}

.th {
  background-color: #cecece;
  color: #404040;
  padding: 10px;
}

.td {
  border: solid 2px #afafaf;
  color: #333;
  padding: 10px;
}

.html-render {
  white-space: pre-wrap;
  padding: 5px;
  border-radius: 5px;
  background: #f7f7f7;
  padding: 10px 5px 5px 5px;
  min-width: 25%;
  height: fit-content;
}

.html-body {
  margin: 10px 5px;
  padding: 5px 5px;
  border-radius: 5px;
  background: white;
}
