body {
  font-family: "Helvetica Neue";
  font-size: 18px;
  color: #2b2b2b;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  bottom: 0px;
  width: calc(100% - 40px);
  background: #eee;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.nav-button,
.nav-button-hidden {
  width: 200px;
  height: 60px;
}

.nav-button {
  border: none;
  border-radius: 10px;

  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);

  font-size: 20px;
}

.nav-button:hover {
  cursor: pointer;
}

.home-container {
  width: 50%;
  max-width: 800px;
  min-width: 400px;
  margin: 20px auto;

  background: rgba(60, 60, 60, 0.6);
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  color: white;
}

.home-container h3,
.home-container h4 {
  text-align: center;
}

.home-container h1 {
  margin-bottom: 5px;
}

.home-container h3 {
  margin-top: 0px;
}

.home-hr {
  width: 200px;
  border: 1px solid rgb(255, 255, 255, 0.6);
  margin: 0px auto 20px auto;
  border-radius: 100px;
}

.home-nav-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 20px;
}

.home-nav-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  width: 300px;
  text-decoration: none;
}

.flex-vertical-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home-nav-number {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  margin: auto 0;
  border: 1px solid #2b2b2b;
  border-radius: 4px;
  margin-right: 40px;
  color: #2b2b2b;
  font-size: 16px;
}

.home-nav-text {
  color: #2b2b2b;
}

.page-content {
  text-align: center;
}

.page-example-text {
  margin-top: 40px;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline;
}

.left {
  padding-left: 10px;
}

.page-copy {
  padding-top: 15px;
}

.jump-to-header {
  text-align: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  margin-bottom: 8px;
}
