.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  position: fixed;
  bottom: 20px;
  width: calc(100% - 40px);
}

.nav-button {
  width: 100px;
}

h1 {
  text-align: center;
}

.home-container {
  width: 50%;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

.home-copy {
  padding-bottom: 20px;
}

.home-start {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.home-link {
  margin: 0 auto;
  text-align: center;
  width: 100px;
  height: 50px;
  display: block;
  border: 1px solid black;
}

.home-nav-links {
  display: flex;
  flex-direction: column;
}

.home-nav-row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 10px;
}

.home-nav-number {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  margin: auto 0;
  border: 1px solid black;
  margin-right: 20px;
}
.home-nav-text {
}

.page-content {
  text-align: center;
}
