.Dropdown-root {
  position: relative;
}

.Dropdown-root:hover {
  cursor: pointer;
}

.Dropdown-control {
  overflow: hidden;
  box-sizing: border-box;
  padding: 18px 30px 8px 28px;
  border-radius: 10px;
  background: rgba(60, 60, 60, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 20px;
  width: 100px;
  height: 60px;
}

.Dropdown-arrow {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  position: absolute;
  right: 18px;
  top: 28px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #fff;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  padding-bottom: 10px;
  background-color: #222;
  color: white;
  border: 1px solid #444;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  bottom: calc(100% - 18px);
  width: 100%;
  z-index: -1;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-option {
  color: white;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  font-size: 20px;
}

.Dropdown-option.is-selected {
  background-color: #333;
  color: white;
}

/* ?*/
